@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.container {
    font-family: 'PT Sans', sans-serif; 
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    width: 20%;
    height: 75%;
    margin-top: 15%;
    border-radius: 15px;
    padding: 1%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.head {
    font-size: 24px;
}


.form-input {
    margin-bottom: 15px;
  }
  

  
.form-input label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #E9E9E9
}

.form-input input {
    width: 100%;
    height: 15%;
    padding: 8px;
    margin-top: 10%;
    font-size: 16px;
    border: 1px solid #D3D3D3;
    border-radius: 13px;
    box-sizing: border-box;
}

.form-input input::hover {
    border: 2px solid #D3D3D3;
}


.login-form {
    width: 100%; 
    max-width: 300px; 
    margin: 0 auto; 
    border-radius: 5px;
}

.login-form #btn {
    height: 10vh;
    justify-content: center;
    text-align: center;
    margin-top: 30px; 
}

#btn input {
    margin-top: 15%;
    width: 65%;
    height: 50%;
    background-color: #E9E9E9; 
    color: black; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer;
}

#btn input:hover {
    background-color: #D3D3D3; 
}

