body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



.top {
  position: relative;
  width: 100%;
}

.horizontal-line {
  position: absolute;
  margin-top: 3.7%;
  left: 0;
  right: 0;
  height: 1.25vh;
  width: auto;
  background-color: #E9E9E9
}

.icon {
  height: 30%;
  width: 30%;
  margin-left: 93.5%;
}


.vertical-line {
  position: absolute;
  top: 0;
  left: 90%;
  width: 1vh;
  height: 8vh;
  background-color: #E9E9E9;
}

.main {
  padding-top: 2.25%;
  padding-left: 20%;
  padding-right: 20%;
}


@media screen and (max-width: 1350px) {
  .vertical-line {
    position: absolute;
    top: 0;
    left: 90%;
    width: 1vh;
    height: 7vh;
    background-color: #E9E9E9;
  }
}

@media screen and (max-width: 1200px) {
  .vertical-line {
    position: absolute;
    top: 0;
    left: 90%;
    width: 1vh;
    height: 6vh;
    background-color: #E9E9E9;
  }
}

@media screen and (max-width: 1000px) {
  .vertical-line {
    position: absolute;
    top: 0;
    left: 90%;
    width: 1vh;
    height: 5vh;
    background-color: #E9E9E9;
  }
}

@media screen and (max-width: 800px) {
  .vertical-line {
    position: absolute;
    top: 0;
    left: 90%;
    width: 1vh;
    height: 4vh;
    background-color: #E9E9E9;
  }
}

@media screen and (max-width: 600px) {
  .main {
    padding-top: 0.5%;
  }

  .vertical-line {
    position: absolute;
    top: 0;
    left: 90%;
    width: 1vh;
    height: 4vh;
    background-color: #E9E9E9;
  }
}