body {
  margin: 0;
  padding: 0;
}

.top {
  position: relative;
  width: 100%;
}

.horizontal-line {
  position: absolute;
  margin-top: 3.5%;
  left: 0;
  right: 0;
  height: 1.25vh;
  width: auto;
  background-color: #E9E9E9
}

.icon {
  margin-top: 0.2%;
  position: absolute;
  margin-left: 93.5%;
  height: 100px;
  width: auto;
}


.vertical-line {
  position: absolute;
  top: 0;
  left: 90%;
  width: 1vh;
  height: 7vh;
  background-color: #E9E9E9;
}

.container {
  padding: 20px;
}

.main {
  text-align: center;
}
